/*font-family: 'Kumbh Sans', sans-serif;*/
/*variables*/
:root{
    --text-blue: hsl(238, 29%, 16%);
    --text-dkblue: hsl(240, 6%, 50%);
    --text-xdkblue: hsl(237, 12%, 33%);
    --text-red: hsl(14, 88%, 65%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);
    --kumbh-sans: 'Kumbh Sans', sans-serif;
}

/* html{
    height: 100vh;
    width: 100%;
} */

 body{
    background-color: #af67e9;
    background-image: linear-gradient(to bottom right, #af67e9, #6565e7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--text-blue);
} 

.main-content{
    box-sizing: border-box;
    margin: 9rem 1.5rem 1.5rem 1.5rem;
    padding: 25px 25px 50px 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 10px rgb(0 0 0 / 0.2);
    object-fit: cover;
}

.container-photos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.woman-image-mobile{
    margin-top: .3rem;
    z-index: 5;
    position: relative;
    bottom: 160px;
    text-align: center;
    width: 250px;
    height: 250px;
}

.woman-image-desktop{
    display: none;
}

.woman-shadow-mobile{
    margin-top: -260px;
    z-index: 3;
}

.woman-shadow-desktop{
    display: none;
}

.title{
    text-align: center;
    font-family: var(--kumbh-sans);
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem;
}

.question-block{
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    width: 90%;
    margin-bottom: 10px;
}

.q1, .q2, .q3, .q4, .q5{
    font-size: .9rem;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-gap: 15px;
    padding: 2px;
}

.q:hover{
    color: #f0a99e;
    cursor: pointer;
}

.icon{
    color: #f0a99e;
    font-size: 1.5rem;
}

.icon-end{
    transform: rotate(180deg);
}

.bold{
    font-weight: bold;
}

.box{
    display: none;
}

.hidden{
    display: none;
}

/* FOOTER */
.footer{
    bottom: 0;
}

/* ----------------------- MEDIA QUERIES ----------------------- */
@media all and (min-width: 1024px) {
.main-content{
    margin-top: 6rem;
    background-color: white;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 15px;
    box-shadow: 0 20px 10px rgb(0 0 0 / 0.2);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 30px;
}

.container-photos{
     display: flex;
     flex-direction: column;
     max-height: 400px;
}

.woman-image-mobile{
    display: none;
}

.woman-image-desktop{
    display: inline;
    margin-top: .3rem;
    margin-right: 9rem;
    width: 350px;
    height: 350px;
}

.woman-shadow-mobile{
    display: none;
}


.box{
   display: inline;
   width: 200px;
   height: 200px;
   position: relative;
   bottom: 210px;
   right: 210px;
   -webkit-animation: float 0.9s infinite both;
	        animation: float 0.9s infinite both;
   max-height: 200px;
 }

 @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.container-questions{
    object-fit: contain;
}

.title{
    text-align: left;
}
.icon-end{
    transform: rotate(180deg);
}

.attribution {
    margin-left: 28rem;
}
}